$bgtopleft: #F7FAFF;
$bgtopleftrgba:rgba(247, 250, 255, 1);
$bgbottomright: #E2E7EF;
$bgbottomrightrgba:rgba(226, 231, 239, 1);

$white: #FFFFFF;
$black: #000000;


//Text
$lightfont:#9FA0AA;
$lightboldfont: #6C6D71;

$lightblue: #0068FF;
$greytext: #B7B9c0;
$yellow:#ffb74d;